body {
	background-image: linear-gradient(
		180deg,
		hsl(240deg 100% 20%) 0%,
		hsl(289deg 100% 21%) 11%,
		hsl(315deg 100% 27%) 22%,
		hsl(329deg 100% 36%) 33%,
		hsl(337deg 100% 43%) 44%,
		hsl(357deg 91% 59%) 56%,
		hsl(17deg 100% 59%) 67%,
		hsl(34deg 100% 53%) 78%,
		hsl(45deg 100% 50%) 89%,
		hsl(55deg 100% 50%) 100%
	  );
    width: 100vw;
	height: 100vh;
    padding: 0;
    margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

header {
    background-color: rgba(0,0,0,0.5);
	width: 100%;
    display: grid;
	grid: 1fr / 1fr 2fr 1fr;
	padding: 10px;
}

#logo {
	display: flex;
	align-items: center;
	src: url(../images/tempcheck-white.png);
}

#logo>img {
    width: 300px;
}

#search {
    display: flex;
    align-items: center;
	gap: 5px;
	margin-top: 15px;
}

#search>input {
	border: 2px solid white;
	border-radius: 10px;
	height: 30px;
	width: 150px;
	background-color: rgba(1,1,1,0.5);
	color: white;
	padding-left: 5px;
}

#search>input:focus::placeholder {
	color: transparent;
}

::placeholder {
	color: whitesmoke;
}

#search>button {
	border: 2px solid white;
	border-radius: 10px;
	height: 35px;
	background: rgba(0,0,0,0);
	color: white;
	font-weight: bold;
	cursor: pointer;
}

#search>button:hover {
	background: rgba(0,0,0,0.5);
}

#units {
	justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
	width: 110px;
	padding: 10px;
}

.unit {
	cursor: pointer;
	width: 30px;
	margin-left: 4px;
}

#far {
	display: flex;
	justify-content: flex-end;
}

.current {
    color: goldenrod;
    font-size: 30px;
}
   
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.far {
	display: flex;
}

.far::after {
    content: " \2109";
	font-size: 50%;
	padding-top: 5%;
}

#temp::after {
	padding-top: 10%;
}

.cel::after {
    content: " \2103";
}

#main {
	flex-grow: 1;
}

#weather {
	display: grid;
	justify-items: center;
	gap: 2px;
	color: white;
	border: 4px solid white;
	border-radius: 30px;
	width: 300px;
	padding: 20px;
}

#void {
	width: 200px;
}

#city, #condition {
	font-size: 20px;
}

#temp {
	font-size: 80px;
}

#condition {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#condition>div {
	margin: 5px;
}

#condition>img {
	width: 200px;
	height: 200px;
}

#low::before {
	content: 'Low:';
	padding-right: 5px;
}

#high::before {
	content: 'High:';
	padding-right: 5px;
}

#humidity::before {
	content: 'Humidity:';
	padding-right: 5px;
}

#humidity::after {
	content: '%';
}

#footer {
	text-align: center;
	position: absolute;
	bottom: 0;
}

@media screen and (max-width: 800px) {
	body {
		height: auto;
	}

	header {
		grid: 2fr 1fr 1fr / 1fr;
		justify-items: center;
	}

	#units {
		justify-self: auto;
	}

	#search {
		margin: 0;
	}

	#footer {
		bottom: auto;
		position: inherit;
	}
}